<div class="login-container">
  <div class="column column-double">
    <div class="login-container">
      <div class="white-text center-text centered-box column">
        <div>
          <h1>VisionPI</h1>
          <h3>Your security solution!</h3>
        </div>
      </div>
      <div class="column-gray center-text centered-box column">
        <div class="login-form">
          <h4>Welcome!</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
            <input matInput placeholder="Username" formControlName="username" class="login-input">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" class="login-input">
            <button mat-stroked-button color="accent" class="white-text button">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
