geolocalization-map {
	width:100%;
}

.mat-h1, .mat-headline, .mat-typography h1 {
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 5px 16px 16px;
}

.mat-h2, .mat-title, .mat-typography h2 {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 5px 16 16px;
}
