<h2 class="mat-h2">Monitoreo > Administración > Monitoreo de Alarmas</h2>
<mat-divider></mat-divider>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      VisionPi's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="example-table"
       matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
       <!-- account Column -->
       <ng-container matColumnDef="account">
         <th mat-header-cell *matHeaderCellDef>Account</th>
         <td mat-cell *matCellDef="let row">{{row.account}}</td>
       </ng-container>

       <!-- device Column -->
       <ng-container matColumnDef="device">
         <th mat-header-cell *matHeaderCellDef>Device</th>
         <td mat-cell *matCellDef="let row">{{row.device}}</td>
       </ng-container>

       <!-- type Column -->
       <ng-container matColumnDef="type">
         <th mat-header-cell *matHeaderCellDef>Type</th>
         <td mat-cell *matCellDef="let row">{{row.events.type}}</td>
       </ng-container>

       <!-- event Column -->
       <ng-container matColumnDef="event">
         <th mat-header-cell *matHeaderCellDef>Event</th>
         <td mat-cell *matCellDef="let row">{{row.events.event}}</td>
       </ng-container>

       <!-- status Column -->
       <ng-container matColumnDef="status">
         <th mat-header-cell *matHeaderCellDef>Status</th>
         <td mat-cell *matCellDef="let row">{{row.status}}</td>
       </ng-container>

       <!-- Created Column -->
       <ng-container matColumnDef="created">
         <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
           Created
         </th>
         <td mat-cell *matCellDef="let row">{{row.event_date | date}}</td>
       </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
   </div>

   <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
 </div>
