.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

mat-form-field {
  margin-right: 12px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  margin-right: 12px;
  width: 50%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

td, th {
  width: 20%;
}
