<mat-card class="visionpi-map-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      {{routeName}}
      <button mat-icon-button class="refresh-button" (click)="loadCheckpoints()" >
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Video</button>
        <button mat-menu-item>Revisión</button>
        <button mat-menu-item>Notificación</button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle>{{operator}}</mat-card-subtitle>
  </mat-card-header>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  	<agm-marker
      *ngFor="let point of checkpoints"
      [latitude]="point.lat"
      [longitude]="point.lng"
      [label]="point.checkpoint">
    </agm-marker>
    <agm-polyline [editable]="true">
      <agm-polyline-point
        *ngFor="let line of checkpointsLines"
        [latitude]="line.lat"
        [longitude]="line.lng">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
  <mat-card-content>
    <mat-list>
      <p> Último punto de control:
        <span> {{lastCheckpoint.lat}} </span>
        <span> -- {{lastCheckpoint.lng}} </span>
        <span> -- {{lastCheckpoint.registerdate}} </span>
        <!--<span> -- {{lastCheckpoint.operator}} </span>
        <span> -- {{lastCheckpoint.updated_at}} </span>-->
      </p>
    </mat-list>
  </mat-card-content>
  <!--
  <mat-card-actions>
    <button mat-button (click)="loadCheckpoints()">Video</button>
    <button mat-button>Revisión</button>
    <button mat-button>Notificación</button>
  </mat-card-actions>
  -->
</mat-card>
